
body {
	background-color: #393942;
	color: #efeded;
	font-family: 'Open Sans', sans-serif;

}

ul {
	list-style-type: none;
	margin-bottom: 10px;
	padding: 0px;
	text-align: center;
}

.nav {
	display: inline;
	margin-right: 12px;

}

.hover{
	border-bottom: 1px solid #a32828;

	
}

.name {
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 0px;
}



p {
	font-family: 'Roboto', sans-serif
}



.banner {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
}



.mainPhoto {
	width: 100%;
	height: auto;
	margin:0px;
	padding: 0px;


}

/* Text font font-family: 'Roboto', sans-serif; */